@import 'reset';
@import 'variables';
@import '~@react-md/theme/dist/color-palette';
@import 'react-md/dist/scss/styles';
@import 'sectionHeader';

.track-card {
  width: 540px;
}

.list-item {
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s;

  &:hover {
    border: 1px solid $rmd-theme-primary;
  }
}
.stat {
  margin: 0.5em auto;
}
.red {
  color: $rmd-theme-primary;
  user-select: none;
}
.card-data {
  font-size: 1.2rem;
}

label {
  pointer-events: none;
}

.login-form {
  min-width: 516px;
  max-width: 5165px;
  min-height: 670px;
  max-height: 670px;
  form {
    width: 100%;
    .login-input {
      margin: 1em auto;
      width: 100%;
    }
    button {
      margin: 1em auto;
      width: 100%;
    }
  }
}

.modal {
  border-radius: 0.5rem;
}
